/**
 ** GENERAL
 **/

//.cell{ border:1px solid red;}

@mixin transition($transition...) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

@mixin background($filename, $width:100%, $height:100%, $background-position: left top) {
	background: url(../../assets/img/#{$filename}) no-repeat;
	width: $width;
	height: $height;
}
/**
 ** HEADER
 **/

header {
	padding-top: 1rem;
	.slogan {
		padding-top: 0.625rem;
		font-size: 2rem;
		font-weight: bold;
		color: $primary-color;
	}
	.menu {
		padding: 0.5rem 0;
		a {
			color: $black;
			font-size: 0.9rem;
			&:hover {
				color: $primary-color;
			}
		}
	}
}

/**
 ** FOOTER
 **/
footer {
	.top {
		background: $primary-color;
		.menu {
			a {
				color: $white;
			}
		}
	}
	.bottom {
		background: $dark-gray;
		padding: 1rem 0;
		p {
			color: $white;
			font-size: 0.8rem;
			line-height: 1rem;
			margin-bottom: 0.5rem;
		}
		a {
			color: $white;
			text-decoration: underline;
		}
	}
}
.topbar-responsive {
	background: $primary-color;
	padding: 0;
	.menu {
		background: $primary-color;
		padding: 0;
		li:last-of-type {
			margin-right: 0;
		}

		a {
			color: $white;
			transition: color 0.15s ease-in;
			padding: 0.825rem 1.0rem;
			@include transition(background-color .4s);

			@media screen and (max-width: 39.9375em) {
				padding: 0.875rem 1rem;
			}
			&:hover {
				background-color: darken($primary-color, 10%);
			}
		}
	}

	@media screen and (max-width: 39.9375em) {
		.top-bar-title {
			position: relative;
			width: 100%;

			span {
				position: absolute;
				right: 0;
				border: 1px solid $white;
				border-radius: 5px;
				padding: 0.25rem 0.45rem;
				top: 50%;
				transform: translateY(-50%);

				.menu-icon {
					margin-bottom: 4px;
				}
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@include breakpoint(small only) {
	.topbar-responsive-links {
		animation-fill-mode: both;
		animation-duration: 0.5s;
		width: 100%;
		animation: slideDown 1s ease-in;
	}
}

#category-boxes {
	.grid-10 {
		margin: 0.825rem -0.46875rem;

		.cell {
			@include xy-cell(1 of 10,true, 15px, margin, right left);
			@include breakpoint(small only) {
				@include xy-cell(1 of 5,true, 10px, margin, right left);
			}
		}
		.card {
			border: 0;
			border-radius: 3px;
			.card-section {
				background-color: rgba(255, 255, 255, 0.9);
				$caption-height: 2.2rem;
				margin-top: -$caption-height;
				height: $caption-height;
				padding: 0.3rem 0.25rem;
				@include transition(all 0.2s);
				p {
					font-size: 0.625rem;
					line-height: 0.825rem;
				}
			}
			&:hover {
				.card-section {
					background-color: $primary-color;
					color: $white;
					$caption-height: 2.8rem;
					margin-top: -$caption-height;
					height: $caption-height;
				}
			}
		}
	}
}
.box {
  margin-bottom: 1rem;  
  .title-bar {
    color: $white;
    background: $secondary-color;
    padding: 0;
    font-weight: bold;
    position: relative;
    height:40px;
    h2{
      font-size: 1rem;
      padding: 0 1rem;
      line-height: 2rem;
      font-weight:bold;
      margin:0;
    }
    a{
      color:$white;
      margin-right:1rem;
      font-size: 0.825rem;
    }    
  }
  .mark-orange{
    b{
      padding: 0 0.3rem;
    }
    &:before{
      content:'';
      @include background('icon-title-arrow.svg', 20px, 40px);
    }      
  }
  .box-container{
    padding: 1rem;    
    border: 1px solid $light-gray;

    .thumbnail{
      overflow: hidden;
      border: none;
      box-shadow: none;
      margin-bottom:0.5rem;
      @include breakpoint(small only) {
        width: 100%;
        img{
          width: 100%;
        }
      }
      &:hover{        
        img{
          @include transition(all 0.5s ease-in-out);
          transform: scale(1.1);
        }
      }
    }
    .content{
      h4{
        font-size: 1rem;
        font-weight: bold;
        color: $black;
        &:hover{
          color: $primary-color;
        }
      }
      p{
        font-size: 0.825rem;
      }
      a.more{
        font-size: 0.825rem;
      }
    }
    .news-list{
      .item{        
        @include background('icon-bullet.svg');
        background-position: left 0.85rem;
        border-bottom: 1px dotted $light-gray;        
        padding: 0.3rem;
        a{
          font-size: 0.825rem;
          line-height: 0.625rem;
          color: $black;
          padding-left: 0.8rem;
          &:hover{
            color:$primary-color;            
          }
        }
      }
      .cell:last-child{
        .item{  
          border-bottom: 0;  
        }
      }
    }

  }    
}
#feature{
  .item{
    border-bottom: solid 1px $light-gray;
    margin-bottom: 1.2rem;
    h4{
      &:hover{
        color: $primary-color;
      }
    }
    .price{
      p{
        font-size: 1.5rem;
        line-height: 1.6rem;
        font-weight: bold;
        color: $primary-color;
        @include breakpoint(small only) {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }
    &:last-child{
      border-bottom: 0;
    }
    
  }  
}
#userpost{
  .item{
    .content{
      h4{
        font-size: 0.825rem;
        &:hover{
          color:$primary-color;
        }
      } 
      @include breakpoint(medium up) {
        margin-left:-0.9375rem;
      }
    }
  }
  
      
}
#search{
  .title-bar{
    background: $tertiary-color;
  }
  .box-container{
    border: 2px solid $tertiary-color;
    border-top: 0;
    padding-bottom: 0.25rem;
    .input-group{
      margin-bottom:0.4rem;
      input, select{
        margin:0 auto;
        height: 2.1rem;
        font-size: 0.825rem;
      }
      button{
        font-weight: bold;
        margin: auto;
        border-radius: 4px;
      }
    }
  }
  
}

#area{
  .item{        
    @include background('icon-dot.svg');
    background-position: left 1rem;     
    padding: 0.3rem;
    a{
      font-size: 0.825rem;
      line-height: 0.625rem;
      color: $black;
      padding: 0 .4rem;
      &:hover{
        color:$primary-color;            
      }
    }
  }
}
#ads{
  .item{
    margin-bottom:1rem;
  }
}