<footer id="page-footer">
    <div class="grid-x top">
        <div class="grid-container">
            <div class="cell small-12">
                <ul class="menu align-center">
                    {{#each footer}}
                    <li><a href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-x bottom">
        <div class="grid-container">
            <div class="cell small-12">
                <p class="text-center">Bản quyền 2019 Nhà Đất Vũng Tàu</p>
                <p class="text-center">Thiết kế bởi <a href="http://bariavungtau.vnpt.vn/">VNPT Bà Rịa Vũng Tàu</a></p>
            </div>
        </div>
    </div>
</footer>