<footer id="page-footer">
    <div class="grid-x top">
        <div class="grid-container">
            <div class="cell small-12">
                <ul class="menu align-center">
                    {{#each footer}}
                    <li><a href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-x bottom">
        <div class="grid-container">
            <div class="cell small-12">
                <p class="text-center"><strong>CÔNG TY TNHH TM-DV MÔI GIỚI BẤT ĐỘNG SẢN NANO</strong></p>
                <p class="text-center">Số 114 Nam Kỳ Khởi Nghĩa, P.Thắng Tam, Tp. Vũng Tàu, tỉnh Bà Rịa Vũng Tàu.</p>
                <p class="text-center">Địện thoại: Mr Quý: 0702 69 09 99 / Mr Phúc : 0901 62 66 99  |  Email: <a href="mailto:batdongsannano@gmail.com">batdongsannano@gmail.com</a></p>
                <p class="text-center">® NhaDatVungTau.com giữ bản quyền website này. Việc sao chép một phần hoặc toàn bộ mà không được sử đồng ý bằng văn bản là vi phạm pháp luật.</p>
                <p class="text-center">Thiết kế bởi <a href="http://bariavungtau.vnpt.vn/">VNPT Bà Rịa Vũng Tàu</a></p>
            </div>
        </div>
    </div>
</footer>