<header id="page-header">
    <div class="grid-container">
        <div class="grid-x grid-12">
            <div class="cell medium-4 small-12 text-center">
                <a class="logo align-center" href="."><img class="" src="{{root}}assets/img/logo.png"></a>
            </div>
            <div class="cell medium-8 small-12">
                <div class="grid-x">
                    <div class="cell small-12">
                        <h1 class="slogan text-center">Không Gian Bất Động Sản Hoàn Hảo</h1>
                    </div>
                    <div class="cell small-12">
                        <ul class="menu simple align-right small-align-center">
                            <li><a href="post.html">Đăng tin miễn phí</a></li>
                            <li><a href="#">Đăng ký thành viên</a></li>
                            <li><a href="#">Đăng nhập</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="top-bar topbar-responsive">
    <div id="topbar-responsive" class="grid-container topbar-responsive-links">
        <div class="top-bar-center">
            <ul class="menu simple vertical medium-horizontal">
                <li class="nav-item" id="nav-item-1">
                    <a href=".">Trang chủ</a>
                </li>
                <li class="nav-item" id="nav-item-2">
                    <a href="#">Giới thiệu</a>
                </li>
                <li class="nav-item" id="nav-item-3">
                    <a href="list.html">Chuyển nhượng dự án</a>
                </li>
                <li class="nav-item" id="nav-item-4">
                    <a href="list.html">Nhà đất cho thuê</a>
                </li>
                <li class="nav-item" id="nav-item-5">
                    <a href="list.html">Nhà đất bán</a>
                </li>
                <li class="nav-item" id="nav-item-6">
                    <a href="#">Tin tức</a>
                </li>
                <li class="nav-item" id="nav-item-7">
                    <a href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>