<div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="top-bar">
            <span>Hỗ trợ đăng tin: <strong class="secondary">Mr. Quý</strong> : <strong class="primary">0702 69 09 99</strong>  / <strong class="secondary">Mr Phúc</strong> : <strong class="primary">0901 62 66 99</strong> - Thời gian làm việc: <strong class="primary">8h-11h30; 14h-17h30</strong> (Từ Thứ 2- Thứ 7)</span>
        </div>
    </div>
</div>
<header id="page-header">
    <div class="grid-container">
        <div class="grid-x grid-12">
            <div class="cell medium-4 small-12 text-center">
                <a class="logo align-center" href=".">
                    <img src="{{root}}assets/img/logo.png">
                    <p class="domain">NHADATVUNGTAU.COM</p>
                    <p class="subtitle">Không Gian Bất Động Sản Hoàn Hảo</p>
                </a>                
            </div>
            <div class="cell medium-8 small-12">
                <div class="grid-x">
                    <div class="cell small-12 text-center">
                        <h1 class="slogan">BẤT ĐỘNG SẢN HÀNG ĐẦU VŨNG TÀU</h1>
                        <h1 class="slogan subheader">CHÍNH XÁC - TIỆN ÍCH - UY TÍN</h1>
                    </div>
                    <div class="cell small-12">
                        <ul class="menu simple align-right">
                            <li><a href="postnew.html">Đăng tin miễn phí</a></li>
                            <li><a href="account.html">Đăng ký thành viên</a></li>
                            <li><a href="postmanagement.html">Đăng nhập</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
</div>
<nav id="responsive-menu" class="main-menu" data-animate="hinge-in-from-top hinge-out-from-top">
    <div class="grid-container">
        <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
            {{#each menu}}
            <li class="nav-item">
                <a href="{{this.href}}">{{this.main}}</a>
                {{#if this.subcat}}
                <ul class="menu">
                    {{#each this.subcat}}
                    <li><a href="list.html">{{this.sub}}</a></li>
                    {{/each}}
                </ul>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
</nav>