{{#ifpage 'index' 'list' 'detail' 'about' 'contact' 'news' 'upgrade' 'project'}}

<!-- Advance Search -->
<div id="search" class="box">
    <div class="title-bar mark-orange lighter">
        <h2>Tìm kiếm</h2>
    </div>
    <div class="box-container">
        <form>
            <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Từ khóa">
            </div>
            <div class="input-group">
                <select>
                    <option>Loại tin</option>
                    {{#each post.loaitin}}<option>{{this}}</option>{{/each}}
                </select>
            </div>
            <div class="input-group">
                <select>
                    <option>Loại BĐS</option>
                    {{#each post.loaibds}}<option>{{this}}</option>{{/each}}
                </select>
            </div>
            <div class="input-group">
                <select>
                    <option>Giá</option>
                    {{#each post.gia}}<option>{{this}}</option>{{/each}}
                </select>
            </div>
            <div class="input-group">
                <select>
                    <option>Diện tích</option>
                    {{#each post.tongdientich}}<option>{{this}}</option>{{/each}}
                </select>
            </div>
            <div class="input-group">
                <select>
                    <option>Hướng</option>
                    {{#each post.huong}}<option>{{this}}</option>{{/each}}
                </select>
            </div>
            <div class="input-group">
                <select>
                    <option>Khu vực</option>
                    {{#each post.tinhtp}}<option>{{this}}</option>{{/each}}
                </select>
            </div>
            <div class="input-group">
                <button type="submit" class="button small">
                    <i class="fa fa-search"></i> Tìm kiếm
                </button>
            </div>
        </form>
    </div>
</div>
<!-- End Advance Search -->

<!-- Area Links -->
<div id="area" class="box">
    <div class="title-bar">
        <h2>Khu vực</h2>
    </div>
    <div class="box-container">
        <div class="grid-x">
            {{#each post.quanhuyen}}
            <div class="cell medium-6">
                <div class="item">
                    <a href="#">{{this}}</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- End Area Links -->

<!-- News Market -->
<div id="market" class="box">
    <div class="title-bar">
        <h2>Thị trường</h2>
    </div>
    <div class="box-container">
        <div class="grid-x news-list">
            {{#each news.main}}
            <div class="cell">
                <div class="item">
                    <a href="#">{{this.title}}</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- End News Market -->

{{/ifpage}}

{{#ifpage 'postnew' 'postsuccess'}}

<!-- Rule -->
<div id="rule" class="box">
    <div class="title-bar">
        <h2>Tin của bạn sẽ không được duyệt hoặc bị xóa nếu vi phạm các điều sau</h2>
    </div>
    <div class="box-container">
        <div class="grid-x rule-list">
            {{#each sidebar.rules}}
            <div class="cell">
                <div class="item">
                    <span>{{this}}</span>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- End Rule -->

<!-- Guide -->
<div id="guide" class="box">
    <div class="title-bar">
        <h2>Cách đăng tin hiệu quả</h2>
    </div>
    <div class="box-container">
        <div class="grid-x rule-list">
            {{#each sidebar.guide}}
            <div class="cell">
                <div class="item">
                    <span>{{this}}</span>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- End Guide -->
{{/ifpage}}

{{#ifpage 'postmanagement' 'account'}}

<!-- Post Links -->
<div id="post-links" class="box">
    <div class="title-bar">
        <h2>Quản lý tin đăng</h2>
    </div>
    <div class="box-container">
        <div class="grid-x news-list">
            {{#each sidebar.postlinks}}
            <div class="cell">
                <div class="item">
                    <a href="#">{{this.name}}&nbsp;<small>({{this.count}})</small></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- End Post Links -->

<!-- Account Links -->
<div id="account-links" class="box">
    <div class="title-bar">
        <h2>Tài khoản cá nhân</h2>
    </div>
    <div class="box-container">
        <div class="grid-x news-list">
            {{#each sidebar.accountlinks}}
            <div class="cell">
                <div class="item">
                    <a href="#">{{this}}</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- End Account Links -->
{{/ifpage}}

<!-- Ads -->
<div id="ads" class="box">
    <div class="grid-x">
        {{#each sidebar.ads}}
        <div class="cell">
            <div class="item text-center">
                <a href="#"><img src="{{root}}assets/img/{{this}}"></a>
            </div>
        </div>
        {{/each}}     
    </div>
</div>
<!-- End Ads -->